<div class="content-heading">Tickets</div>
<div class="container-lg">
    <div class="md-card">
        <div class="md-card-subheader">Todos Abertos</div>
        <div class="mda-list" >
            <div *ngFor='let item of tickets' class="mda-list-item">
                <div class="mda-list-item-icon bg-primary">
                    <em class="fa fa-star fa-md"></em>
                </div>
                <div class="mda-list-item-text mda-2-line">
                    <h3>{{item.ticket}}</h3><small>{{item.cidade}}</small>
                    <h4>{{item.ticket_titulo}}</h4>
                    <span>{{item.data_prev_status}}</span>
                </div>
            </div>
        </div>
    </div>
</div>
